@font-face {
    font-family: Allerta Stencil;
    src: url('../../public/AllertaStencil-Regular.ttf');
}

.Button1{
    font-family: "Allerta Stencil";
    color: #5378f4;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    width: fit-content;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}
.Button1:hover{
    cursor: pointer;
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.Button1:active{
    background-color: #c8ddfc;
}