@font-face {
  font-family: Montserrat;
  src: url("../../public/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.FormLabel {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  margin-right: auto;
  margin-left: 15px;
}
