@import url("https://fonts.googleapis.com/css?family=Lato&display=swap"); /*  Lapo font family, ako ne odgovara promijeniti */

.wrapp-search-bar {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
}

.search-bar {
  box-sizing: border-box;
  width: 50%;
  height: 60px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  order: 0;
}

.search-button {
  display: flex;
  margin-left: -50px;
  align-items: center;
}

.search-bar-icon {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="search"]::-webkit-search-cancel-button {
  margin-right: 15px;
  align-items: center;
}

.dataResult {
  margin-top: 5px;
  width: 47%;
  height: max-content;
  gap: 5px;
  align-items: center;
  position: absolute;
}

.search-column {
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
}

.result-wrapper {
  display: flex;
  justify-content: center;
}

.dataItem {
  font-family: "Allerta Stencil";
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
  transition: transform 0.2s ease;
  text-decoration: none;
  width: max-content;
}

.dataItem:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.dataItem:active {
  background-color: #c8ddfc;
}

.data-title {
  color: #5378f4;
}

.ordinalNumber {
  font-weight: bold;
  font-size: x-large;
}

.dataItem h5 {
  margin: 0px;
}

.dataResult.fade-in {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  margin-bottom: 40px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dataResult.fade-in > * {
  animation-delay: 0.8s;
}
