::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FF4D6D;
    opacity: 1; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FF4D6D;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FF4D6D;
    font-style: italic;
}

#SearchBar{
    width: 50vw;
    height: 5vh;
    color: #C9184A;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid #590D22;
}

#SearchButton{
    background-color: white;
    border-radius: 10px;
    border: 3px solid #590D22;
    width: 60px;
}