#back,
#next {
    background-color: transparent;
    border: 2px solid rgb(58, 124, 165);
    border-radius: 50%;
    margin: 20px;
    padding: 0;
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

#back {
    background-image: url(./arrow-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

#next {
    background-image: url(./arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

#back:hover,
#next:hover {
    background-color: rgb(58, 124, 165);
    transform: scale(1.3);
}