#tempDiv1 {
    background-color: rgb(129, 195, 215);
}

#tempDiv2 {
    background-color: rgb(129, 195, 215);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}